
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;          
  line-height: 1.5;        
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;          
}



.header {
  background-color: #ffffff;  
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; 
  text-decoration: none;
  /
}
.logo-accent {
  color: #2e2f42; 
}


.nav-link {
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500; 
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contact-link {
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}


.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  margin: 0 auto 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: color 250ms ease; 
}

.hero-button:hover,
.hero-button:focus {
 background-color: #404BBF; 
}



.features-title {
  font-size: 36px; 
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.features-list {
  list-style: none;
  margin: 0;
}


.feature-title {
  font-weight: 500;      
  font-size: 20px;       
  line-height: 1.2;      
  letter-spacing: 0.02em;
  color: #2e2f42;        
  font-family: 'Roboto', sans-serif;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;       
  line-height: 1.5;      
  letter-spacing: 0.02em;
  color: #434455;        
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 500;          
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;
  margin: 0;
}


.team-item {
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;       
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 32px 0 8px;
  text-transform: none; 
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}


.portfolio {
  background-color: #ffffff; 
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style: none;
  margin: 0;
}

.portfolio-item {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  overflow: hidden;
}


.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 16px 0 8px 16px;
  text-transform: none;
}

.portfolio-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0 0 16px 16px;
}


.footer {
  background-color: #2e2f42;
  text-align: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo-accent {
  color: #f4f4fd;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.footer-text {
  line-height: 1.5;
  color: var(--footer-text-color, #f4f4fd);
  letter-spacing: 0.02em;
  margin: 0 auto;
  font-size: 16px;
}
